<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Index</title>

</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 bg-dark border-0 text-light">
            <th th:text="${user.username}"></th>
            with roles
            <th th:text="${user.roles}"></th>
        </div>
        <div class="col-md-1" style="background-color: black">
            <div>
                <form th:action="@{/logout}" method="post">
                    <input class="border-0 text-light bg-dark" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row container-fluid">
    <div class="col-md-2 active btn-outline-primary">
        <div>
            <form th:action="@{/admin}" method="post">
                <div class="d-grid "><input class="btn border-0 btn-primary text-light" type="submit" value="Admin"/>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-10">
        <h2>Admin panel</h2>
    </div>
    <div class="col-md-2">
        <td><a th:href="@{/myPage}" class="btn btn border-0 bg-light text-info ">User</a></td>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div class="container-fluid">

            <div class="container-fluid pt-1 pb-0 px-0" id="tableUsers">
                <div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"  id="newUser-tab" data-toggle="tab" role="tab" onclick="return show('tableUsers','newUser');">Users
                                table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="return show('newUser', 'tableUsers');">New User</a>
                        </li>
                    </ul>
                </div>
                <div class="container-fluid border pt-0 pb-0 px-0">
                    <h4>All users</h4>
                </div>



                <div class="container-fluid border bg-white py-3 px-4">
                                <table class="table table-striped" id="mainTableWithUsers">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Active</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="#mainTableWithUsers">
                                    </tbody>
                                </table>
                            </div>
                        </div>



                <div class="container-fluid pt-1 pb-0 px-0" id="newUser" style="display: none">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="#" onclick="return show('tableUsers','newUser');">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" onclick="return show('newUser', 'tableUsers');">New User</a>
                            </li>
                        </ul>
                    </div>

                            <div class="container-fluid border pt-0 pb-0 px-0">
                                <h4>Add new user</h4>
                            </div>
                            <div class="container-fluid border bg-white py-3 px-5 position-relative">
                                <div class="container bg-white d-flex justify-content-center">

                                    <form class="text-center container-fluid w-50" id="addUser">
                                        <div>
                                            <label for="username"
                                                   class="col-form-label"><strong>Username</strong></label>
                                            <input class="form-control bg-warning" name="username" id="username"
                                                   placeholder="Username"><br>
                                        </div>
                                        <div>
                                            <label for="password"
                                                   class="col-form-label"><strong>Password</strong></label>
                                            <input class="form-control bg-warning" name="password" id="password"
                                                   placeholder="password"><br>
                                        </div>
                                        <div>
                                            <label for="active" class="col-form-label"><strong>Active</strong></label>
                                            <input class="form-control" name="active" id="active"
                                                   placeholder="active"><br>
                                        </div>
                                        <div>
                                            <label for="rolesId" class="col-form-label"><strong>Role</strong></label>
                                            <select name="rolesId" multiple class="form-select w-100" size="2"
                                                    id="rolesId" required><br>
                                                <option value="1 ADMIN">ADMIN</option>
                                                <option value="2 USER">USER</option>
                                            </select><br><br>
                                        </div>
                                        <div class="col-6 mx-auto">
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

>
                <!--скрытое дефолтное модальное окно -->
                <div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog"
                     aria-labelledby="someDefaultModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
</script>
<script src="webjars/jquery/3.5.1/jquery.js"></script>
<script src="webjars/popper.js/1.16.0/umd/popper.js"></script>
<script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="/main.js"></script>

</body>
</html>
